/* styles/globals.css */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

button {
  transition: transform 0.2s ease-in-out;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

button.connect-wallet {
  background-color: #007bff; /* Blue color for "Connect Wallet" */
}

button.heads {
  background-color: #28a745; /* Green for "Heads" */
}

button.tails {
  background-color: #dc3545; /* Red for "Tails" */
}

button:hover,
button:active {
  transform: scale(1.1);
}
